#aboutme-section {
  background: linear-gradient(60deg, #18468a, #736c4a, #8047f3);
}
@media all and (min-width: 576px) {
  #aboutme-section .container-fluid {
    padding: 5% 20%;
    height: 120vh;
  }
}
@media all and (max-width: 576px) {
  #aboutme-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#aboutme-section .container-fluid {
  display: flex;
}
#aboutme-section .container-fluid .row {
  margin: 0%;
  overflow: hidden;
  justify-content: center;
}
#aboutme-section .container-fluid .row .col-sm-6 {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutme-section .container-fluid .row .col-sm-6 .card {
  background: transparent;
  border-width: 0px 0px 0px 5px;
  border-radius: 0%;
  border-left-color: #0079ff;
}
#aboutme-section .container-fluid .row .col-sm-6 img {
  opacity: 0.2;
  width: 90%;
}
#aboutme-section .container-fluid .row .col-sm-6 a,
#aboutme-section .container-fluid .row .col-sm-6 a:visited,
#aboutme-section .container-fluid .row .col-sm-6 a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}
#aboutme-section .container-fluid .row .col-sm-6 a:hover {
  color: #34bcd7;
  transition: 0.5s ease;
}
#aboutme-section .container-fluid .row .col-sm-6 a:after {
  content: "";
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 5px;
  bottom: -0.25em;
  left: 0;
  width: 0px;
  background: #34bcd7;
}
#aboutme-section .container-fluid .row .col-sm-6 a:hover:after {
  width: 100%;
}

@media all and (min-width: 576px) {
  #contact-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #contact-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#contact-section .container-fluid > .card.static-card {
  padding: 3% 20%;
  border: none;
  background-color: transparent;
}
#contact-section .container-fluid > .card.static-card h2, #contact-section .container-fluid > .card.static-card p {
  text-align: center;
}
#contact-section .container-fluid > .card.float-card {
  border: none;
  padding: 3%;
  box-shadow: 0px 0px 20px rgb(169, 169, 169);
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 {
  padding-top: 5%;
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 .personal-infor {
  display: flex;
  flex-direction: row;
  align-items: start;
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 .personal-infor i {
  color: #00c6ff;
  font-size: 2rem;
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 .personal-infor p {
  margin-left: 5%;
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 input, #contact-section .container-fluid > .card.float-card .row .col-sm-6 textarea, #contact-section .container-fluid > .card.float-card .row .col-sm-6 .cust-button {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  border-radius: 5px;
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 .cust-button {
  height: 40px;
  width: 150px;
  background: linear-gradient(to right, #0073FF, #00bbff);
  border-radius: 20px;
  border-width: 0;
  color: #fff;
  transition: 0.5s ease;
}
#contact-section .container-fluid > .card.float-card .row .col-sm-6 .cust-button:hover {
  box-shadow: 0px 0px 15px #00bbff;
}

#lastestnews-section {
  background: #f7f7f7;
}
@media all and (min-width: 576px) {
  #lastestnews-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #lastestnews-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#lastestnews-section .container-fluid > .card {
  padding: 3% 20%;
  border: none;
  background-color: transparent;
}
#lastestnews-section .container-fluid > .card h2, #lastestnews-section .container-fluid > .card p {
  text-align: center;
}
#lastestnews-section .container-fluid .row {
  margin: 0%;
}
#lastestnews-section .container-fluid .row .col-sm-6.col-md-4 {
  padding-top: 5%;
}
#lastestnews-section .container-fluid .row .col-sm-6.col-md-4 .card {
  padding: 2%;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(169, 169, 169);
}

@media all and (min-width: 576px) {
  #myskill-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #myskill-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#myskill-section .container-fluid .row {
  margin: 0%;
}
#myskill-section .container-fluid .row .col-sm-6 {
  padding-top: 5%;
}
#myskill-section .container-fluid .row .col-sm-6 h4 {
  text-align: center;
}
#myskill-section .container-fluid .row .col-sm-6 p {
  line-height: 1.5;
  text-align: center;
}
#myskill-section .container-fluid .row .col-sm-6 h6 {
  display: flex;
  justify-content: space-between;
}
#myskill-section .container-fluid .row .col-sm-6 .progress .progress-bar {
  background: linear-gradient(90deg, #0075ff, transparent) #2196f3;
  transition: background-color 1s;
  color: #fff;
}
#myskill-section .container-fluid .row .col-sm-6 .progress .progress-bar:hover, #myskill-section .container-fluid .row .col-sm-6 .progress .progress-bar:focus {
  background: #e91e63;
}

#navbar-section {
  background: linear-gradient(to right, #6f2cf3, #8047f3);
}
@media all and (min-width: 576px) {
  #navbar-section .container-fluid {
    padding: 0.3% 20% 0.3% 20%;
    height: 60px;
  }
}
#navbar-section .nav-link:hover {
  transition: 0.25s ease;
  transition: 0.25s ease;
  text-shadow: 0.1px 0.1px 1.5px #fff, -0.1px 0.1px 1.5px #fff, -0.1px -0.1px 1.5px #fff, 0.1px -0.1px 1.5px #fff;
}

@media all and (min-width: 576px) {
  #portfolio-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #portfolio-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#portfolio-section .container-fluid {
  background: #f7f7f7;
}
#portfolio-section .container-fluid > .card {
  padding: 2% 20%;
  border: none;
  background: transparent;
}
#portfolio-section .container-fluid > .card h4,
#portfolio-section .container-fluid > .card p {
  letter-spacing: 0.8px;
  text-align: center;
}
#portfolio-section .container-fluid .row.button-row {
  margin: 0%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 576px) {
  #portfolio-section .container-fluid .row.button-row {
    padding: 2% 25%;
  }
}
#portfolio-section .container-fluid .row.button-row button {
  width: auto;
  background: linear-gradient(90deg, #0075ff, transparent) #2196f3;
  color: #fff;
  border-radius: 15px;
  transition: background-color 1s;
}
#portfolio-section .container-fluid .row.button-row button:hover {
  background-color: #e91e63;
}
#portfolio-section .container-fluid .row {
  margin: 0%;
}
#portfolio-section .container-fluid .row .col-sm-6.col-md-4 {
  padding-top: 5%;
}
#portfolio-section .container-fluid .row .col-sm-6.col-md-4 .card {
  box-shadow: 0px 0px 20px rgb(169, 169, 169);
  padding: 5%;
  background: #fff;
}
#portfolio-section .container-fluid .row .col-sm-6.col-md-4 .card h6, #portfolio-section .container-fluid .row .col-sm-6.col-md-4 .card p {
  text-align: center;
  letter-spacing: 0.8px;
}

#service-section {
  background: #f7f7f7;
}
@media all and (min-width: 576px) {
  #service-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #service-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#service-section .container-fluid {
  background: transparent;
  line-height: 1.5;
}
#service-section .container-fluid p {
  line-height: 1.5;
}
#service-section .container-fluid .row {
  margin: 0%;
}
#service-section .container-fluid .row .col-sm-6.col-md-4 {
  display: flex;
  padding-top: 5%;
}
#service-section .container-fluid .row .col-sm-6.col-md-4 .card {
  padding: 5%;
  box-shadow: 0px 0px 20px rgb(169, 169, 169);
  display: inline-block;
  text-align: center;
}
#service-section .container-fluid .row .col-sm-6.col-md-4 .card:hover i {
  transition: 0.1s ease;
  box-shadow: 0px 0px 30px #00bbff;
}
#service-section .container-fluid .row .col-sm-6.col-md-4 .card p {
  line-height: 1.5;
}
#service-section .container-fluid .row .col-sm-6.col-md-4 .card i {
  font-size: 3rem;
  color: #ffffff;
  background: #00c6ff;
  padding: 5%;
  margin: 8%;
}
#service-section .container-fluid .row .col-sm-6.col-md-4 .card h5 {
  margin-bottom: 8%;
}

@media all and (min-width: 576px) {
  #testimonial-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #testimonial-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#testimonial-section .container-fluid > .card {
  padding: 2% 20%;
  border: none;
}
#testimonial-section .container-fluid > .card > h3, #testimonial-section .container-fluid > .card p {
  text-align: center;
  letter-spacing: 0.8px;
}
#testimonial-section .container-fluid .carousel.slide .carousel-indicators button {
  background-color: rgb(204, 204, 204);
}
#testimonial-section .container-fluid .carousel.slide .carousel-indicators button.active {
  background-color: #000;
}
#testimonial-section .container-fluid .carousel.slide .carousel-control-prev-icon, #testimonial-section .container-fluid .carousel.slide .carousel-control-next-icon {
  background-color: rgb(204, 204, 204);
}
#testimonial-section .container-fluid .carousel.slide .carousel-control-prev-icon:hover, #testimonial-section .container-fluid .carousel.slide .carousel-control-next-icon:hover {
  box-shadow: 0px 0px 20px #e6e6e6;
}
#testimonial-section .container-fluid .carousel-item .card {
  width: 50%;
  margin: 0% auto;
  padding: 2%;
}
#testimonial-section .container-fluid .carousel-item .card img {
  margin: 5% auto;
  width: 20%;
  border-radius: 100%;
}
#testimonial-section .container-fluid .carousel-item .card p, #testimonial-section .container-fluid .carousel-item .card h5 {
  text-align: center;
  letter-spacing: 0.8px;
}

#detailed-about-me {
  background: #fff;
}
@media all and (min-width: 576px) {
  #detailed-about-me .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #detailed-about-me .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#detailed-about-me .container-fluid {
  display: flex;
  align-items: start;
}
#detailed-about-me .container-fluid .row {
  margin: 0%;
}
#detailed-about-me .container-fluid .row .col-sm-6 {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card {
  border: none;
  width: 80%;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card h4 {
  font-size: 1.4rem;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card h5 {
  font-size: 1.2rem;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card p a,
#detailed-about-me .container-fluid .row .col-sm-6 .card p a:visited,
#detailed-about-me .container-fluid .row .col-sm-6 .card p a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: rgb(47, 148, 195);
  font-size: 1.1em;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card p a:hover {
  color: #34bcd7;
  transition: 0.5s ease;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card p a:after {
  content: "";
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 5px;
  bottom: -0.25em;
  left: 0;
  width: 10px;
  background: #34bcd7;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card p a:hover:after {
  width: 100%;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card .cust-button {
  height: 40px;
  width: 150px;
  background: linear-gradient(to right, #0073FF, #00bbff);
  border-radius: 20px;
  border-width: 0;
  color: #fff;
  transition: 0.5s ease;
}
#detailed-about-me .container-fluid .row .col-sm-6 .card .cust-button:hover {
  box-shadow: 0px 30px 50px #00bbff;
}

@media all and (min-width: 576px) {
  #counter-section .container-fluid {
    padding: 5% 20%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  #counter-section .container-fluid {
    padding: 5% 0%;
    height: auto;
  }
}
#counter-section .container-fluid {
  padding: 5% 20%;
  background: transparent;
}
#counter-section .container-fluid .row {
  background: #fff;
  box-shadow: 0px 0px 20px rgb(169, 169, 169);
}
#counter-section .container-fluid .row .col-sm-6.col-md-3 {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}/*# sourceMappingURL=index.css.map */