@import './utils';

#aboutme {
    background: linear-gradient(60deg, #18468a, #736c4a, #8047f3);

    @media all and (min-width: $sm-breakpoint) {
        .container-fluid {
            @include getContainerFluidForMobile($height: 120vh, $padding: 5% 20%);
        }
    }
    @media all and (max-width: $sm-breakpoint) {
        .container-fluid {
            @include getContainerFluidForMobile($padding: 5% 0%);
        }
    }
    .container-fluid {
        display: flex;
        .row {
            margin: 0%;
            overflow: hidden;
            justify-content: center;
            .col-sm-6 {
                padding-top:5%;
                display: flex;
                justify-content: center;
                align-items: center;
                .card {
                    background: transparent;
                    border-width: 0px 0px 0px 5px;
                    border-radius: 0%;
                    border-left-color: #0079ff;
                }

                img {
                    opacity: 0.2;
                    width: 90%;
                }

                a,
                a:visited,
                a:active {
                    @include getHyperLinkStyle("vistedandactive",rgb(255, 255, 255));
                }
                
                a:hover {
                    @include getHyperLinkStyle("hover");
                }

                a:after {
                    @include getHyperLinkStyle("after");
                }

                a:hover:after {
                    @include getHyperLinkStyle("hoverafter");
                }
            }
        }
    }
}