@import './utils';

#portfolio-section {
    @media all and (min-width: $sm-breakpoint) {
        .container-fluid {
            @include getContainerFluidForMobile($padding: 5% 20%);
        }
    }
    @media all and (max-width: $sm-breakpoint) {
        .container-fluid {
            @include getContainerFluidForMobile($padding: 5% 0%);
        }
    }
    .container-fluid {
        background:#f7f7f7;
        &>.card {
            padding: 2% 20%;
            border: none;
            background: transparent;
            h4,
            p {
                letter-spacing: $ls;
                text-align: center;
            }
        }

        .row.button-row {
            margin: 0%; 
            @media (min-width:$sm-breakpoint) {
                padding: 2% 25%;
            }
            padding-bottom: 2%;
            display: flex;
            justify-content: space-between;
            button {
                width: auto;
                background: linear-gradient(90deg, #0075ff, transparent) #2196f3;
                color: #fff;
                border-radius: 15px;
                transition: background-color 1s;
                &:hover {
                    background-color: #e91e63;
                }
            }
        }
        .row {
            margin: 0%; 
            .col-sm-6.col-md-4
            {
                padding-top:5%;
                .card {
                    @include getBoxShadow();
                    padding:5%;
                    background: #fff;
                    h6, p {
                        text-align: center;
                        letter-spacing: $ls;
                    }
                }
            }
        }
    }
}