@import './utils';

#section-counter {
    @media all and (min-width: $sm-breakpoint) {
        .container-fluid {
                @include getContainerFluidForMobile(auto, 2% 20%);
        }
    }
    .container-fluid {
        padding: 5% 20%;
        background: transparent;
        .row.row-1 {
            .col-sm-6.col-md-3 {
                padding: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            background: #fff;
            @include getBoxShadow();
        }
    }
}