@import './utils';

#counter-section {
    @media all and (min-width: $sm-breakpoint) {
        .container-fluid {
                @include getContainerFluidForMobile(auto, 5% 20%);
        }
    }
    @media all and (max-width: $sm-breakpoint) {
        .container-fluid {
            @include getContainerFluidForMobile($padding: 5% 0%);
        }
    }
    .container-fluid {
        padding: 5% 20%;
        background: transparent;
        .row {
            .col-sm-6.col-md-3 {
                padding: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            background: #fff;
            @include getBoxShadow();
        }
    }
}